/*******    PromotionSections.js     ********************/
/*  components/shared/Lugar/PromotiosSections.js    */
.promociones-title{
  font-size: 24px;
}

.promociones{
  max-width: 100%;
  margin: 10px; /* Centra el contenedor horizontalmente */
}

.package ul {
  display: contents;
}

/* Menu por columnas */
.menu-section .package ul{
  display: grid;
}
 
.menu-section li {
  flex-direction: row; /* Coloca el icono encima del texto */
}

.package {
  padding: 20px;
  max-width: 100%;
  transition: max-width 0.3s ease; /* Transición suave para el cambio de tamaño */
}

.sub-section {
  flex: 1 1 30%; /* Ajuste de tamaño y espaciado */
  box-sizing: border-box;
  margin-bottom: 20px;
}

.sub-section h3 {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.menu-section-bottom {
  margin-top: 20px;
}

.item-list {
  padding-left: 20px; /* Espacio para las viñetas */
  margin: 0;
  border-bottom: 2px solid #901919;
}

/* Ajustar el estilo de las columnas para el diseño responsivo */
/* Pantallas medianas (tabletas) y más pequeñas */
@media (max-width: 1024px) {
  .sub-section {
    flex: 1 1 45%; /* En pantallas medianas, las columnas ocupan el 45% del ancho */
  }

  .menu-section .package ul {
    display: flex;
    flex-wrap: wrap; /* Ajusta el diseño de las columnas en pantallas más pequeñas */
  }
}

/******* Vista inicial de las promociones enfiestandonos x 320 pp *********/
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.section-title {
  font-weight: normal;
  cursor: pointer;
}

.section-title:hover {
  color: #007bff; /* Cambia el color al pasar el mouse sobre el título */
}

.section-price {
  color: green;
  font-weight: bold;
}

.section-price:hover {
  /* font-size: 25px;  Cambia el color al pasar el mouse sobre el título */
}

/* Opcional: Agregar un espacio extra entre el título y el precio */
.section-title,
.section-price {
  font-size: 1.75em;
  margin: 5px;
  margin-inline-start: 0px;
}


.detail-icon-promotion {
  font-size: 30px; /* Ajusta el tamaño del ícono */
  padding-right: 15px;
}

.celebration {
  color: #f39c12; /* Color del ícono si lo deseas */
}

.icon-menu{
  font-weight: normal;
  cursor: pointer;
  color:#8B4513;
  transition: font-size 0.3s ease; /* Animación suave al cambiar el tamaño del icono */
  margin-left: 8px; /* Espacio entre el texto y el icono, ajusta según sea necesario */
}

.icon-collapsed {
  font-size: 50px; /* Tamaño del ícono cuando la sección está cerrada */
  transition: font-size 0.3s ease; /* Transición suave al cambiar el tamaño */
}

.icon-expanded {
  font-size: 90px; /* Tamaño del ícono cuando la sección está abierta */
  transition: font-size 0.3s ease; /* Transición suave al cambiar el tamaño */
}

/******* Vista inicial de las promociones enfiestandonos x 320 pp *********/



/********** Contenido General dentro de A celebrar ***/
.section-content {
  padding: 10px;
  margin-top: 0px;
}

.pricing-info {
  background-color: #f9f9f9; /* Fondo claro para resaltar la información */
  padding: 20px; /* Espacio interno alrededor del contenido */
  border-radius: 8px; /* Bordes redondeados para un estilo moderno */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera para darle profundidad */
  margin-bottom: 20px; /* Espacio debajo del bloque */
}

.package-title {
  font-size: 1.8em; /* Tamaño de fuente grande para el título del paquete */
  color: #333; /* Color oscuro para el título */
  margin-bottom: 10px; /* Espacio debajo del título */
}

.package-description {
  font-size: 1.7em; /* Tamaño de fuente legible */
  color: #555; /* Color gris para el texto explicativo */
  margin-bottom: 20px; /* Espacio debajo de la descripción */
  line-height: 1.6; /* Altura de línea para mejorar la legibilidad */
}

.price-details {
  border-bottom: 1px solid #ddd; /* Línea separadora para diferenciar secciones */
  padding-bottom: 15px; /* Espacio debajo de la línea separadora */
  margin-bottom: 15px; /* Espacio entre la línea separadora y el texto */
}

.price-per-person,
.total-price {
  margin: 0; /* Elimina márgenes para un diseño más compacto */
  color: #333; /* Color oscuro para mejor legibilidad */
}

.pricing-note {
  font-size: 1.3em; /* Tamaño de fuente más pequeño para notas adicionales */
  color: #777; /* Color gris más claro para la nota */
  margin-top: 10px; /* Espacio arriba de la nota */
}

.pricing-disclaimer {
  font-size: 1.2em; /* Tamaño de fuente más pequeño para la nota de descargo */
  color: #999; /* Color gris claro para la nota de descargo */
  margin-top: 5px; /* Espacio arriba de la nota de descargo */
}

.people-selector {
  margin-top: 20px;
}

.people-selector label {
  display: block;
  font-size: 1.5em;
  color: #555;
  margin-bottom: 5px;
}

.people-selector input {
  width: 100%;
  max-width: 150px;
  padding: 10px;
  font-size: 1.5em;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.people-selector input::placeholder {
  color: #aaa;
}

.pricing-info h4{
  font-size: 1.2em;
}

.alert-message {
  color: #d9534f; /* Color rojo para mensajes de error */
  font-size: 14px;
  margin-top: 10px;
}

/********** Contenido General dentro de A celebrar ***/


/*******   Estilos de lo que incluye el paquete, menu y te recomendamos contratar  */
.top-sections {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre columnas */
}

.include{
  /* border-bottom: 1px solid #ddd;*/
}

.item-bullet {
  font-size: 20px; /* Tamaño del ícono de la viñeta */
  color: green; /* Color de la viñeta */
  margin-right: 10px; /* Espacio entre la viñeta y el texto */
}


/********** Estilos para controlar los items de las listas lo comparte Menuwithsections.js y withmenu.js    *******/
.checkbox-input {
  margin-right: 20px;
  transform: scale(1.4);
}

.with-sections {
  display: flex;
  align-items: center; /* Centra verticalmente el texto y el icono */
  justify-content: space-between; /* Espacia el texto y el icono */
}
/********** Estilos para controlar los items de las listas lo comparte Menuwithsections.js y withmenu.js    *******/


/* Pantallas pequeñas (móviles) */
@media (max-width: 768px) {

  .type-list{
    padding: 10px;
  }

  .section-header {
    padding: 10px;
  }  

  .detail-icon-promotion {
    font-size: 20px;
    padding-right: 5px;
  } 
  .section-title { 
    font-size: 1.3em;
    margin: 5px;
  }

  .section-price { 
    font-size: 1.15em;
    margin: 5px;
  }

  .include span{
    text-align: left;
  }

  .package {
    max-width: 100%;
    padding: 5px;
  }

  .package h2{
    font-size: 1.2em;
    padding: 0px;
  }

  .item-bullet {
    font-size: 15px;
  }  

  .menu-section .package ul {
    display: grid; /* Las listas en pantallas pequeñas se muestran como bloques */
  }
  .checkbox-input {
    margin-right: 10px;
    transform: scale(1.2);
  }  

  .people-selector label {
    font-size: 1em;
  }

  .people-selector input {
    max-width: 100px;
    font-size: 1em;
  } 

  .pricing-info h4 {
    font-size: .9em;
  }

  .sub-section h3 {
    font-size: 1.1em;
  } 
  
  .sub-section .capitalize-first-letter {
    font-size: .8em;
  } 

  .top-sections {
    gap: 5px;
}

  .type-list li {
    padding: 5px;
  }    

  .menu {
    padding-top: 0px;
  }

  .promo{
    font-size: 1.8em;
  }

  .section-title{
   /* font-size: 1em;*/
  }

  .section-content {
    font-size: 1.2em;
    margin-top: -20px;
  } 
  
  .icon-collapsed {
    font-size: 40px;
  }

  .icon-expanded {
    font-size: 50px;
  }

  .promotion h3 {
    font-size: 1.2em; /* Reduce el tamaño del texto en pantallas medianas */
  }
  
  .promo{
    padding: 0px;
  }
  .pricing-info p{
    font-size: .9em; 
    text-align: center;
  }

  .pricing-info .pricing-note{ 
    text-align: left;
    font-size: 0.75em; 
  }
  .pricing-info {
    padding: 10px;
  }

  .sub-section label {
    text-align: left; /* Alinea el texto a la derecha */
    font-size: 0.75em;
    display: block; /* O inline-block si prefieres que no ocupe todo el ancho */
    width: 100%; /* Asegúrate de que el ancho del label sea suficiente para que text-align tenga efecto */
  }
 

 
}


