/* carrusel.css */
.carousel-container {
  width: 100%;
  max-width: 85%; /* Ajusta el ancho máximo del contenedor */
  margin: 60px auto; /* Añade margen superior e inferior para espacio entre secciones */
  position: relative; /* Posiciona las flechas a los lados */
}

.slick-slide {
  padding: 0 10px; /* Espacio entre los slides */
}

.slick-slide > div {
  display: flex;
  justify-content: center; /* Centra el contenido dentro de cada slide */
}

.slick-track {
  display: flex; /* Asegura que los slides se distribuyan horizontalmente */
}

.slick-slide {
  display: flex;
  justify-content: center; /* Centra el slide en el contenedor */
}

.slick-prev, .slick-next {
  width: 50px; /* Tamaño de las flechas */
  height: 50px; /* Tamaño de las flechas */
  background-color: #ddd; /* Color de fondo de las flechas */
  border-radius: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%; /* Centra las flechas verticalmente */
  transform: translateY(-50%); /* Ajusta la posición vertical de las flechas */
}

.slick-prev {
  left: 10px; /* Ajusta la posición a la izquierda */
}

.slick-next {
  right: 10px; /* Ajusta la posición a la derecha */
}

.slick-prev:before, .slick-next:before {
  font-size: 24px; /* Tamaño del icono de las flechas */
  color: #333; /* Color del icono de las flechas */
}

/* Ocultar la barra de puntos */
.slick-dots {
  display: none !important;
}

/** feature y colores  */
.feature {
  background: transparent; /* Elimina el fondo */
  border: none; /* Elimina el borde */
  box-shadow: none; /* Elimina el box-shadow */
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 300px; /* Ancho máximo de cada tarjeta para ajustarse al diseño */
  margin: 0 auto; /* Centra el contenido dentro del slide */
}

.feature h2 {
  padding: 5px; 
  color: #333; /* Color inicial del texto */
  transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

.title-1:hover {
  color: #7ddf6f; /* Color rosa al pasar el mouse */
  border-radius: 5px; /* Radio de borde para el fondo */
  padding: 5px 10px; /* Espaciado ajustado para el fondo */
}

.title-2-blue:hover {
  color: #4b9cd3; /* Azul */
  border-radius: 5px; /* Radio de borde para el fondo */
  padding: 5px 10px; /* Espaciado ajustado para el fondo */
}

.title-2-pink:hover {
  color: #fa72d8; /* Rosa */
  border-radius: 5px; /* Radio de borde para el fondo */
  padding: 5px 10px; /* Espaciado ajustado para el fondo */
}

.title-3:hover {
  color: #ff6b6b; /* Coral */
  border-radius: 5px; /* Radio de borde para el fondo */
  padding: 5px 10px; /* Espaciado ajustado para el fondo */
}

.title-4:hover {
  color: #4de1c1; /* Turqueza  */
  border-radius: 5px; /* Radio de borde para el fondo */
  padding: 5px 10px; /* Espaciado ajustado para el fondo */
}

.title-5:hover {
  color: #144cc5; /* Azul */
  border-radius: 5px; /* Radio de borde para el fondo */
  padding: 5px 10px; /* Espaciado ajustado para el fondo */
}



