
/****** Estilos de las tarjetas de la pagina de inicio  */
h2.welcome {
  font-size: 1.6em;
  text-align: left;
  margin-top: 30px;
  margin-bottom: -10px; /* Espacio abajo */
  padding-bottom: 10px;
}

.custom-carousel-section {
  text-align: center;
  padding: 10px;
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 25px; /* Esquinas redondeadas */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  border: none; /* 0 solid transparent;  Borde inicial transparente */
  margin: 20px auto; /* Margen superior e inferior para espacio entre secciones */
  border: 2px solid #FCE300;
}

.custom-carousel-link {
  padding-left: 30px;
  margin-bottom: 0px;
  font-size: 1.6em;
  cursor: pointer;
}

.custom-carousel-title-container {
  display: flex;
  justify-content: space-between; /* Alinea el contenido en los extremos */
  align-items: center; /* Alinea verticalmente el contenido */
  /* margin-bottom: 10px; Espacio inferior del contenedor */
}

.custom-carousel-title {
  display: flex; /* Alinea el ícono y el título horizontalmente */
  align-items: center; /* Alinea el ícono y el título verticalmente al centro */
  font-weight: lighter;
  padding-left: 20px;
  margin-bottom: 0;
  font-size: 1.25em;
  cursor: pointer;
}

.icon-container {
  margin-right: 15px; /* Espacio entre el ícono y el título */
}

.custom-carousel-link {
  padding-top: 15px;
  font-size: 1.6em; /* Alinea el tamaño del texto con el del h2 */
  color: #007bff; /* Color del enlace */
  text-decoration: none; /* Elimina subrayado del enlace */
  transition: color 0.3s ease; /* Transición suave para el color del enlace */
  padding-right: 50px; /* Espacio entre el texto del enlace y el borde del contenedor */
  line-height: 1.25em; /* Ajusta la altura de línea para alinear verticalmente */
}

.custom-carousel-link:hover {
  color: #0056b3; /* Color del enlace en hover */
}

.custom-carousel-slider {
  width: 100%; /* Ajuste del ancho del carrusel al 80% de la pantalla */
  margin: 0 auto; /* Centrar el carrusel */
}


.custom-carousel-item {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 0 0px; /* Espacio entre elementos */
}

.custom-carousel-image-container {
  overflow: hidden;
}

.custom-carousel-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.custom-carousel-info {
  padding: 10px;
}

.custom-carousel-item-title {
  font-weight: lighter;
  margin: 0;
  font-size: 1.5em;
  padding-bottom: 5px;
}

.custom-carousel-item-description {
  margin: 10px 0 0;
  color: #555;
}

/* Estilos para la sección de detalles */
.detail-item {
  display: flex;
  flex-direction: column; /* Coloca los ítems en una columna */
  width: 100%; /* Ancho completo del contenedor */
}

/* Estilos para el contenedor de detalles */
.detail-container {
  display: flex;
  justify-content: space-between; /* Espacio entre las columnas */
  width: 100%; /* Ancho completo del contenedor */
}

/* Estilos para cada columna de detalles */
.detail-info {
  display: flex;
  align-items: center; /* Alinea verticalmente */
  width: 48%; /* Ancho de cada columna */
  padding: 4px;
}

/* Estilos para los íconos dentro de los detalles */
.detail-icon {
  margin-right: 8px; /* Espacio entre el ícono y el texto */
}

/* Estilos para la capacidad */
.capacity,
.time-event {
  font-weight: bold; /* Estilo para el texto de la capacidad */
}

.no-elements-message {
  text-align: center; /* Centra el texto */
  font-size: 1.2em; /* Tamaño de fuente */
  color: #DC143C; /* Color carmesí */
  margin: 20px 0; /* Espaciado superior e inferior */
  font-weight: bold; /* Negrita */
}



/* Consultas de medios para pantallas más pequeñas */
@media (max-width: 768px) {

  h2.welcome {
    text-align: left;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: -15px;
  }

  .custom-carousel-title, .icon-container {
    font-size: 1em;
  }
  
  .icon-container {
    margin-right: 10px; /* Espacio entre el ícono y el título */
  }
  .custom-carousel-title {
    padding-left: 15px;
    font-size: .8em;
    padding-bottom:0px;
  }

  .custom-carousel-link {
    padding-right: 12px;
    font-size: 1.1em;
  }

  .custom-carousel-item {
    padding: 0px;
    margin: 5px 0;
  }

  .custom-carousel-image {
    height: 130px;
  }

  .custom-carousel-item-title {
    font-size: 1em;
  }

  .custom-carousel-item-description {
    font-size: 0.8em;
  }
  .custom-carousel-slider {
    margin: 0px;
  }
   /* Ajustes para el contenedor de detalles */
   .detail-container {
    flex-direction: column;
    font-size: .8em;/* Coloca las columnas una debajo de la otra en pantallas más pequeñas */
  }

  /* Ajustes para cada columna de detalles */
  .detail-info {
    width: 100%; /* Ancho completo en pantallas más pequeñas */
    margin-bottom: 5px; /* Espacio inferior para separación */
  }

  /* Ajusta el espacio entre los íconos y el texto si es necesario */
  .detail-icon {
    margin-right: 6px; /* Menor espacio en pantallas pequeñas */
  }

  
}
/****************************  Colores para los iconos de la pagina principal        ***********************/


.icon-jardin{
  color: #228B22;
}

.icon-infantil{
  color: #E4002B; /*  E8B57 2E8B57 */ 
}

.icon-salon {
  color:#8B0000;
}

.icon-hacienda{
  color: #004d00;  /* 003366  002366 C8102E */
}

.icon-terraza{
  color: #FFD700;
}

.icon-price{
  font-size: 1.5em;
}



.detail-info {
  display: flex; /* Usa flexbox para alinear los elementos horizontalmente */
  align-items: center; /* Alinea los íconos y el texto verticalmente al centro */
  width: 100%; /* Ancho completo en pantallas más pequeñas */
  margin-bottom: 5px; /* Espacio inferior para separación */
}

.detail-icon {
  margin-right: 8px; /* Espacio entre el ícono y el texto */
}

.time-event {
  font-weight: bold; /* Estilo para el número en negrita */
  margin-right: 4px; /* Espacio entre el número y el texto siguiente */
}



.detail-container {
  display: grid; /* Usa Grid para distribuir los elementos */
  grid-template-columns: 1fr 1fr 1fr; /* Define el tamaño de las columnas en proporciones 3/5 y 2/5 */
  width: 100%; /* Asegura que el contenedor ocupe el ancho completo disponible */
  gap: 10px; /* Espacio entre las columnas */
}

.first {
  display: grid; /* Usa Grid para distribuir los elementos */
  grid-template-columns: 1fr 1fr; /* Define el tamaño de las columnas en proporciones 3/5 y 2/5 */
  width: 100%; /* Asegura que el contenedor ocupe el ancho completo disponible */
  gap: 10px; /* Espacio entre las columnas */
}

.detail-info {
  font-size: 1.1em;
  display: flex; /* Usa Flexbox para alinear el ícono y el texto */
  align-items: center; /* Alinea verticalmente al centro */
  min-width: 0; /* Permite que el contenido se ajuste en un contenedor flex */
}


.detail-info .detail-icon {
  font-size: 1.2em;
  margin-right: 8px; /* Espacio entre el ícono y el texto */
}

.detail-icon.celebration{
  font-size: 25px; /* Ajusta el tamaño del icono */
}

.truncate {
  white-space: nowrap; /* Evita el salto de línea dentro del contenedor */
  overflow: hidden; /* Oculta el texto que desborda el contenedor */
  text-overflow: ellipsis; /* Muestra "..." al final del texto desbordante */
  flex: 1; /* Permite que el texto ocupe el espacio disponible */
}

.custom-carousel-info h2{
  padding: 0px;
}


@media (max-width: 768px) {
  .detail-icon.celebration{
    font-size: 15px;
  }

  .detail-info{
    font-size: .9em;
    }
    
}