.custom-carousel-section {
  text-align: center;
  padding: 20px;
}

.custom-carousel-title {
  margin-bottom: 20px;
  font-size: 2em;
}

.custom-carousel-slider {
  width: 80%; /* Ajuste del ancho del carrusel al 80% de la pantalla */
  margin: 0 auto; /* Centrar el carrusel */
}

.slick-slide {
  padding: 0 0;
}
.custom-carousel-item {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 0 0px; /* Espacio entre elementos */
}

.custom-carousel-image-container {
  overflow: hidden;
}

.custom-carousel-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.custom-carousel-info {
  padding: 10px;
}

.custom-carousel-item-title {
  margin: 0;
  font-size: 1.5em;
}

.custom-carousel-item-description {
  margin: 10px 0 0;
  color: #555;
}
