.carousel-container-view {
  width: 80%; /* Ocupa el 80% del ancho de la pantalla */
  margin: 0 auto; /* Centra horizontalmente */
  padding: 40px; /* Añade padding alrededor del contenido */
  padding-bottom: 30px; /* Añade espacio adicional en la parte inferior */
  box-sizing: border-box; /* Incluye el padding dentro del ancho total */
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 40px; /* Esquinas redondeadas */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  border: 0 solid transparent; /* Borde inicial transparente */
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin: 40px auto; /* Margen superior e inferior para espacio entre secciones */
}

.header-garden {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos en los extremos */
  align-items: center;
  margin: 0; /* Elimina el margen predeterminado */
  padding: 0 10px; /* Añade un padding interno para separación */
}

.header-garden h2 {
  margin: 0; /* Elimina el margen predeterminado */
  flex: 1;
  text-align: left; /* Alinea el texto a la izquierda */
  color: #333; /* Color del texto */
  
}

.header-garden h3 {
  margin: 0; /* Elimina el margen predeterminado */
  flex: 1;
  text-align: end; /* Alinea el texto a la derecha */
  color: #333; /* Color del texto */
}

@media (max-width: 1200px) {
  .carousel-container-view {
    width: 80%; /* Ancho más amplio en pantallas medianas */
    padding: 0px; /* Menos padding */
    padding-bottom: 20px; /* Menos espacio en la parte inferior */
    border-radius: 30px; /* Esquinas menos redondeadas */
  }
  
  .feature{
    padding: 10px;
  }

  .carousel-container-view h2 {
    font-size: .8em;
  }

  .header-garden h2, .header-garden h3 {
    font-size: .8em; /* Ajuste del tamaño de fuente para pantallas medianas */
    padding: 0 10px; /* Más padding interno */
  }



}




