/* carrusel.css */
.carousel-container {
  width: 80%; /* Ajusta el ancho del contenedor al 90% del contenedor padre */
  max-width: 90vw; /* Ancho máximo del contenedor */
  margin: 40px auto; /* Margen superior e inferior para espacio entre secciones */
  position: relative; /* Posiciona las flechas a los lados */
}

.icon-container .fa-icon {
  font-size: 100px; /* Tamaño por defecto */
}

.slick-slide {
  padding: 0 10px; /* Espacio entre los slides */
}

.slick-slide > div {
  display: flex;
  justify-content: center; /* Centra el contenido dentro de cada slide */
}

.slick-track {
  display: flex; /* Asegura que los slides se distribuyan horizontalmente */
}

.slick-prev, .slick-next {
  width: 40px; /* Tamaño de las flechas */
  height: 40px; /* Tamaño de las flechas */
  background-color: #eee; /* Color de fondo de las flechas */
  border-radius: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%; /* Centra las flechas verticalmente */
  transform: translateY(-50%); /* Ajusta la posición vertical de las flechas */
  transition: background-color 0.3s, opacity 0.3s; /* Transición para el color de fondo y opacidad */
}

.slick-prev {
  left: 10px; /* Ajusta la posición a la izquierda */
}

.slick-next {
  right: 10px; /* Ajusta la posición a la derecha */
}

.slick-prev:before, .slick-next:before {
  font-size: 18px; /* Tamaño del icono de las flechas */
  color: #333; /* Color del icono de las flechas */
}

/* Estilos para las flechas desactivadas */
.slick-prev.slick-disabled, .slick-next.slick-disabled {
  opacity: 0.5; /* Reducción de la opacidad para indicar que están desactivadas */
  cursor: not-allowed; /* Cambia el cursor para mostrar que no se puede hacer clic */
  pointer-events: none; /* Desactiva los eventos del puntero para que no se pueda hacer clic */
  background-color: #f5f5f5; /* Color de fondo más claro para las flechas desactivadas */
}

/* Ocultar la barra de puntos */
.slick-dots {
  display: none !important;
}

/** feature y colores  */
.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature {
  width:auto;
  background: transparent; /* Elimina el fondo */
  border: none; /* Elimina el borde */
  box-shadow: none; /* Elimina el box-shadow */
  text-align: center;
  padding: 25px; /* Espaciado interno */
  width: 100%;
  max-width: 250px; /* Ancho máximo de cada tarjeta */
  margin: 0 auto; /* Centra el contenido dentro del slide */
}

.feature h2 {
  padding: 5px;
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #333; /* Color inicial del texto */
  transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

/* Hover Styles */
.title-1:hover { color: #7ddf6f; }
.title-2-blue:hover { color: #4b9cd3; }
.title-2-pink:hover { color: #fa72d8; }
.title-3:hover { color: #ff6b6b; }
.title-4:hover { color: #4de1c1; }
.title-5:hover { color: #144cc5; }

/* Animación de pulso */
@keyframes pulse {
  0% { color: #ff6f61; } /* Rojo coral elegante */
  50% { color: #ffcc00; } /* Amarillo dorado brillante */
  100% { color: #1e3a8a; } /* Azul oscuro sofisticado */
}

.carousel-container p {
  text-align: center;
  font-size: 1.8em; /* Tamaño de texto grande */
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 20px;
  line-height: 0.2;
  animation: pulse 5s infinite; /* Animación pulsante durante 5 segundos */
  /*animation: pulse 2s infinite;  Animación pulsante */
}

/* Media Queries para Responsividad */
@media (max-width: 1024px) {
  
  .features {
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: center; /* Centra el contenido dentro de cada slide */
  }

  .feature {
    max-width: 100px; /* Ancho máximo de cada tarjeta en pantallas medianas */
    text-align: center;
    padding: 0px; /* Espaciado interno */
    margin: 0 auto; /* Centra el contenido dentro del slide */
  }

  .slick-prev, .slick-next {
    width: 8px; /* Tamaño de las flechas en pantallas medianas */
    height: 20px;
  }

  .slick-prev {
    left: -20px; /* Ajusta la posición a la izquierda */
  }
  
  .slick-next {
    right: -10px; /* Ajusta la posición a la derecha */
  }
  
  .slick-prev:before, .slick-next:before {
    font-size: 16px; /* Tamaño del icono de las flechas en pantallas medianas */
  }

  .carousel-container p {
    font-size: 1em; /* Tamaño de texto en pantallas medianas */
    text-align: center;
    margin-top: 10px;
    margin-bottom: -20px;
    line-height: 0.2;
    animation: pulse 5s infinite; 
  }
  
  .icon-container .fa-icon {
      font-size: 50px; /* Tamaño para dispositivos móviles */
  }
  .carousel-container h2 {
    font-size: .8em;
  }

  .feature h2 {
    color: #333; /* Color inicial del texto */
    transition: color 0.3s ease; /* Transición suave para el cambio de color */
  }
  
  /* Hover Styles */
  .title-1:hover { color: #7ddf6f; }
  .title-2-blue:hover { color: #4b9cd3; }
  .title-2-pink:hover { color: #fa72d8; }
  .title-3:hover { color: #ff6b6b; }
  .title-4:hover { color: #4de1c1; }
  .title-5:hover { color: #144cc5; }

}


