 /* pagina de inicio Bienvenido aenfiestandonos */
 .home {
  text-align: center;
  padding: 10px 10px;
  height: 80px;
}

.home .header{
    background-color: #2b5d8b;
}
  

.header h1 {
  margin: 0;
  font-size: 2.5em;
  line-height: 1.2; /* Ajuste de altura de línea */
  height: 80px; /* Altura fija para el h1 */
  display: flex;
  align-items: center; /* Alinea verticalmente el texto dentro de h1 */
}

.header .search-bar {
  margin-top: 0;
  display: flex;
  align-items: center;
}

.header .search-bar input {
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 300px;
}

.header .search-bar button {
  padding: 10px;
  font-size: 1em;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.header .search-bar button:hover {
  background-color: #555;
}
 /* Terminando pagina de inicio Bienvenido aenfiestandonos */

 @media (max-width: 1024px) {
    .header {
      padding: 10px;
      font-size: 0.8em; /* Tamaño reducido del texto en el carrusel */
    }
  
    .header .logo, .welcome-message{
      font-size: 0.8em; /* Tamaño reducido del texto en el carrusel */
      height: 20px;
    }
  
    .header .welcome-message{
      font-size: 0.6em; /* Tamaño reducido del texto en el carrusel */
    }
    
    .header h1 {
      font-size: 1.2em;
    }
  
    .header .search-bar input,
    .header .search-bar button {
      width: 100%;
      box-sizing: border-box;
    }
  
    .header h1 {
      font-size: 1em; /* Reducir el tamaño de fuente */
      height: auto; /* Quitar la altura fija */
      padding: 0px; /* Añadir padding */
    }
  
    .header .search-bar input {
      width: 100%; /* Ajustar el ancho al 100% */
      font-size: 0.9em; /* Reducir el tamaño de fuente */
    }
  
    .header .search-bar button {
      font-size: 0.9em; /* Reducir el tamaño de fuente */
    }
  
    .header .search-bar {
      flex-direction: initial; /* Cambiar la dirección a columna */
    }
  
    .header .search-bar input,
    .header .search-bar button {
      width: 100%; /* Ambos elementos ocupan el 100% del ancho */
      border-radius: 5px; /* Añadir borde redondeado completo */
      margin: 5px 0; /* Añadir margen entre los elementos */
    }
  
    .header .search-bar button {
      width: 50%; 
    }
}  


.carousel-section {
  width: 80%; /* Ocupa el 80% del ancho de la pantalla */
  margin: 30px auto; /* Margen superior e inferior para espacio entre secciones */
  padding: 30px; /* Añade padding alrededor del contenido */
  padding-bottom: 20px; /* Añade espacio adicional en la parte inferior */
  box-sizing: border-box; /* Incluye el padding dentro del ancho total */
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 40px; /* Esquinas redondeadas */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  border: 0 solid transparent; /* Borde inicial transparente */
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.feature {
  text-align: center;
  padding: 10px; /* Espacio alrededor de cada imagen */
   padding: 0; /* Elimina el padding alrededor de cada tarjeta */
  margin: 0; /* Elimina el margen alrededor de cada tarjeta */
  display: flex;
  flex-direction: column;
}

.feature img {
  width: 100%; /* Asegura que la imagen ocupe el ancho del contenedor */
  height: 200px; /* Establece una altura fija */
  object-fit: cover; /* Ajusta la imagen para cubrir el área sin distorsionar */
  border-radius: 30px; /* Esquinas menos redondeadas */
  display: block; /* Elimina el espacio debajo de la imagen */
}

/*wdkjfskjsdf*/

.carousel-section {
  width: 80%; /* Ocupa el 80% del ancho de la pantalla */
  margin: 30px auto; /* Margen superior e inferior para espacio entre secciones */
  padding: 30px; /* Añade padding alrededor del contenido */
  padding-bottom: 20px; /* Añade espacio adicional en la parte inferior */
  box-sizing: border-box; /* Incluye el padding dentro del ancho total */
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 40px; /* Esquinas redondeadas */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  border: 0 solid transparent; /* Borde inicial transparente */
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Alinea el contenido al principio del contenedor */
  width: 100%; /* Asegura que la tarjeta ocupe todo el ancho del slider */
  box-sizing: border-box; /* Incluye el padding dentro del ancho total */
}

.image-container {
  width: 100%; /* Asegura que el contenedor de la imagen ocupe todo el ancho del contenedor de la tarjeta */
  height: 200px; /* Establece una altura fija */
  overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga del contenedor */
}

.image-container img {
  width: 100%; /* Asegura que la imagen ocupe el ancho del contenedor */
  height: 100%; /* Asegura que la imagen ocupe la altura del contenedor */
  object-fit: cover; /* Ajusta la imagen para cubrir el área sin distorsionar */
  display: block; /* Elimina el espacio debajo de la imagen */
}

.text-container {
  width: 100%; /* Asegura que el contenedor de texto ocupe todo el ancho del contenedor de la tarjeta */
  padding: 10px; /* Añade espacio alrededor del texto */
  text-align: center; /* Centra el texto */
}

.text-container h3, .text-container p {
  margin: 10px 0; /* Añade margen arriba y abajo para separación */
  font-size: 1rem; /* Ajusta el tamaño de fuente para mantener el texto visible */
  color: #333; /* Color del texto */
}






